a:hover {
  text-decoration:none;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #D6FAFF;
}

.modal-header	{
	padding-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 400px;
    margin: 30px auto;
  }